<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCh76DmHNfHbb2B9GUJkQlfv1NkQuTj8c4</string>
	<key>GCM_SENDER_ID</key>
	<string>575050637909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arnav-gupta.securechat</string>
	<key>PROJECT_ID</key>
	<string>chat-e163a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-e163a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575050637909:ios:1ea0801310f9cfa16f2adc</string>
</dict>
</plist>